@import './styles/style.scss';

.PaletteList {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $neumorphic-bg-color;
  // background-attachment: fixed;
  // background-size: cover;
  // background-image: url(./styles/bg.svg);
  // overflow-y: scroll;
  /* background by SVGBackgrounds.com */
}

.PaletteList__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 50%;
}

.PaletteList__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 100%;
  height: 3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.PaletteList__header__title {
  align-self: flex-start;
  background: rgba(0, 0, 0, 0.288);
  padding: 0.25rem 0.25rem;
  border-radius: 5px;
}

.PaletteList__header__create {
  @include neumorphic;
  padding: 0.5rem 1rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  color: black;
}

.PaletteList__body {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 1.5rem;
  column-gap: 2rem;

  a {
    width: 100%;
  }
}

// @media screen and (max-width: 1200px) {
//   .PaletteList__container {
//     width: 60%;
//   }
// }

// @media screen and (max-width: 800px) {
//   .PaletteList__container {
//     width: 65%;
//   }
// }

// @media screen and (max-width: 600px) {
//   .PaletteList__container {
//     width: 70%;
//   }
// }